/* Write your CSS code here */

.item-container {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border: solid 1px grey;
  border-radius: 8px;
}

.title-image {
  height: 150px;
  width: 150px;
  margin-right: 20px;
}
